<!DOCTYPE html>
<html>
<head>
<title>Genebanks Linked Data</title>
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    

<div id="wrap">
    <div id="article">
    <h1>
<a href="http://www.genebanks.org/"><img src="http://www.genebanks.org/_/rsrc/1370434165052/config/Screen%20Shot%202013-06-05%20at%202.07.32%20PM.png.1370434164718.png" /></a>
    </h1>


    <table border="1" class="triples">
        <tbody>
            <tr>
                <td>
                    <b>Subject</b>
                </td>
                <td>
                    <b>Predicate</b>
                </td>
                <td>
                    <b>Object</b>
                </td>
            </tr>
    {{#triples}}
            <tr>
                <td>
                    <a href="{{subject}}">{{subject}}</a>
                </td>
                <td>
                    <a href="{{predicate}}">{{predicate}}</a>
                </td>
                <td>
                    <a href="{{object}}">{{object}}</a>
                </td>
            </tr>
    {{/triples}}
        </tbody>
    </table>

    </div><!-- /article -->
</div> <!-- /wrap -->
</body>
</html>
