<!DOCTYPE html>
<html>
<head>
<title>Genebanks Linked Data</title>
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    

<div id="wrap">
    <div id="article">
    <h1>
<a href="http://www.genebanks.org/"><img src="http://www.genebanks.org/_/rsrc/1370434165052/config/Screen%20Shot%202013-06-05%20at%202.07.32%20PM.png.1370434164718.png" /></a>
    </h1>


    <h2>Introduction</h2>
    <p>A gesture mania is sweeping over us app makers. It has reached a point where some of us boast unique gestures and novel usage of common gestures as a high point of our apps. The media praises these apps for their coolness and people rush to download them. It is only natural for the uninformed app makers to be seduced by this apparent success and get motivated to act their part in innovating gestures.</p>

    </div><!-- /article -->
</div> <!-- /wrap -->
</body>
</html>
